<h1><%= @club[:high_school_name] %></h1>

<% if @subdomain.id.nil? %>
  <%= link_to "Create a subdomain", new_subdomain_path %>
<% else %>
  <%= link_to "Show details about #{@subdomain.full_url}", @subdomain %>
<% end %>

<pre> <%= JSON.pretty_generate @club %> </pre>
