<main class="w-100 mx-auto center max-width-4 pt3">
  <h1 class="w-100">Welcome!</h1>
  <% if signed_in? %>
    <% if @clubs.any? %>
      <ul class="list left-align w-100">
        <% @clubs.each do |club| %>
          <%= link_to club_path(club.name.parameterize) do %>
            <li>
              <strong><%= club.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p class="slate h3 bold mb4">No clubs found. Did you use the right email address?</p>
    <% end %>
  <% else %>
    <%= link_to 'Sign in', auth_users_path, class: 'btn h2' %>
  <% end %>
</main>
