<% activate_nav! :my_club %>

<img src="<%= map_url(@club) %>" class="map-header__img">

<h1 class="club-heading mt3 md-mt4">Record a Meeting</h1>

<div class="meeting-form__card max-width-2">
  <%= render 'form', meeting: @meeting %>
</div>
