<div style="background-color: #fdc2c8; padding: 15px;">
  <strong><a href="https://goo.gl/forms/tSnCGSvn8BvHh3Mi1">Check-in</a></strong>
</div>
<div style="margin-left: 15px; margin-right: 15px;">
  <p>
    Your club's check-in is open for the week. Fill it out
    <a href="https://goo.gl/forms/tSnCGSvn8BvHh3Mi1">here</a>.
  </p>
  <hr>
  <p>
    You are receiving this email because you opted-in to weekly check-ins.
    You can turn this off by opting-out in your <a
    href="https://leaders.hackclub.com">leader dashboard</a>.
  </p>
</div>