<p>
Please <strong>reply to this email w/ details about your most recent club meeting</strong>. How did it go? What day did you meet & for how long? Attached pics are great!
</p>
<p>
We’ll be you emailing after each meeting, so keep this info in mind for future meetings. This is very much a work in progress, so please don’t hesitate to let us know your ideas & feedback on how we can improve getting updates from leaders like you.
</p>
<p><em>
- Hack Club HQ
</em></p>
<p>P.S. Let us know if today isn’t when you hold your meetings and we’ll make sure it’s sent on the right day next week.</p>