<a href="https://goo.gl/forms/tSnCGSvn8BvHh3Mi1">
  <h1>Your club check-in link for <%= Date.today.to_s %></h1>
</a>
<p>
  Your club’s check-in is open for the weekend. Fill out the questions about last week’s meeting <strong>before Monday</strong>.
</p>
<strong><a href="https://goo.gl/forms/tSnCGSvn8BvHh3Mi1">Check-in for <%= Date.today.to_s %></a></strong>
<hr>
<p><em>
  You are receiving this email because you opted-in to weekly check-ins. You
  can turn this off by opting-out in your <a
  href="https://leaders.hackclub.com">leader dashboard</a>.
</em></p>