<%= link_to new_club_meeting_url(club_slug: @club.slug, day: Date.today.to_s) do %>
  <h1>Your club check-in link for <%= Date.today.to_s %></h1>
<% end %>
<p>
  Please fill out the questions about last week’s meeting <strong>before
  Monday</strong>.
</p>
<strong>
  <%= link_to new_club_meeting_url(club_slug: @club.slug, day: Date.today.to_s), new_club_meeting_url(club_slug: @club.slug, day: Date.today.to_s) %>
</strong>
<hr>
<p><em>
  You are receiving this email because you opted-in to weekly check-ins. You
  can turn this off by opting-out in your <a
  href="https://leaders.hackclub.com">leader dashboard</a>.
</em></p>