<h1>Sign in to the Leaders Dashboard</h1>
<%= form_tag login_code_users_path do %>
  <%= label_tag :email, 'Enter your email…' %>
  <%= email_field_tag :email, '', autofocus: true, class: 'mb2' %>
  <%= submit_tag 'Continue' %>
<% end %>
