<%= link_to @subdomain.club.name, @subdomain.club, class: 'breadcrumb' %>

<h1>
  Subdomains
</h1>

<h2>
  <%= @subdomain.full_url %>
</h2>


<% @subdomain.dns_records.each do |dns_record| %>
  <%= render 'dns_records/form', dns_record: dns_record %>
<% end %>
<%= render 'dns_records/form', dns_record: @new_dns_record %>
