<% activate_nav! :marketing %>

<h1>New Post</h1>

<p class="h2 black mt0 mb1">Your post will include your club name, <%= content_tag :strong, current_user.first_club&.name %>.</p>

<p class="slate">
  Post a poster, website, YouTube video, article, sticker design,
  or whatever you’re marketing with, along with an image preview.
</p>

<%= render 'form', post: @post %>

<style>
  .container {
    max-width: 32rem;
  }
</style>
