$white: #fff;
$base: #2d9ce4;
$black: #384045;
$gray0: #f8f9f9;
$gray1: #ebedef;
$gray2: #dce1e4;
$gray3: #cdd3d8;
$gray4: #bcc5ca;
$gray5: #a9b4bb;
$gray6: #93a1aa;
$gray7: #798b96;
$gray8: #5f6e76;
$gray9: #384045;
$blue0: #e6f3fb;
$blue1: #cbe7f8;
$blue2: #add9f4;
$blue3: #8ac9f0;
$blue4: #61b6ea;
$blue5: #2d9ee4;
$blue6: #288ecd;
$blue7: #237db4;
$blue8: #1d6795;
$blue9: #154a6a;
$indigo0: #eaecfc;
$indigo1: #d3d8f9;
$indigo2: #b9c0f6;
$indigo3: #9aa4f2;
$indigo4: #717fec;
$indigo5: #2d42e4;
$indigo6: #283bcd;
$indigo7: #2333b2;
$indigo8: #1c2a92;
$indigo9: #141d65;
$violet0: #f1eafc;
$violet1: #e2d4f9;
$violet2: #d1baf6;
$violet3: #bc9bf2;
$violet4: #a172ec;
$violet5: #732de4;
$violet6: #6728cd;
$violet7: #5a23b3;
$violet8: #4a1d93;
$violet9: #341467;
$fuschia0: #faeafc;
$fuschia1: #f5d4f9;
$fuschia2: #efbaf6;
$fuschia3: #e89bf2;
$fuschia4: #de72ec;
$fuschia5: #cf2de4;
$fuschia6: #bb28ce;
$fuschia7: #a323b4;
$fuschia8: #871d95;
$fuschia9: #61156a;
$pink0: #fceaf5;
$pink1: #f9d4eb;
$pink2: #f6badf;
$pink3: #f29bd1;
$pink4: #ed73be;
$pink5: #e42d9e;
$pink6: #ce288e;
$pink7: #b4237d;
$pink8: #951d67;
$pink9: #6b154a;
$red0: #fcebed;
$red1: #f9d5d9;
$red2: #f6bbc2;
$red3: #f29ca6;
$red4: #ed7482;
$red5: #e42d42;
$red6: #ce283b;
$red7: #b42334;
$red8: #951d2b;
$red9: #6a151e;
$orange0: #fbeee6;
$orange1: #f8ddcc;
$orange2: #f4c9ae;
$orange3: #f0b28c;
$orange4: #ea9763;
$orange5: #e4732d;
$orange6: #cd6728;
$orange7: #b45b23;
$orange8: #954b1d;
$orange9: #6a3515;
$yellow0: #fbf8e2;
$yellow1: #f7f1c4;
$yellow2: #f3eaa3;
$yellow3: #eee17f;
$yellow4: #e9d858;
$yellow5: #e4cf2d;
$yellow6: #cebb28;
$yellow7: #b5a423;
$yellow8: #96881d;
$yellow9: #6d6315;
$lime0: #f2fbe3;
$lime1: #e4f7c6;
$lime2: #d5f3a6;
$lime3: #c5ee82;
$lime4: #b3e95a;
$lime5: #9ee42d;
$lime6: #8fce28;
$lime7: #7db523;
$lime8: #68961d;
$lime9: #4b6d15;
$green0: #e9fbe7;
$green1: #d2f8cd;
$green2: #b7f4af;
$green3: #98f08d;
$green4: #73eb63;
$green5: #42e42d;
$green6: #3bce28;
$green7: #34b523;
$green8: #2b961d;
$green9: #1f6d15;
$teal0: #e7fbef;
$teal1: #cdf8dd;
$teal2: #aff4ca;
$teal3: #8df0b3;
$teal4: #63eb97;
$teal5: #2de473;
$teal6: #28ce68;
$teal7: #23b55b;
$teal8: #1d964c;
$teal9: #156d37;
$cyan0: #e6fbf9;
$cyan1: #ccf8f3;
$cyan2: #aef4ec;
$cyan3: #8cf0e4;
$cyan4: #62eadb;
$cyan5: #2de4cf;
$cyan6: #28cebb;
$cyan7: #23b5a4;
$cyan8: #1d9789;
$cyan9: #156d63;
