.m0 {
  margin: 0px;
}
.m1 {
  margin: 8px;
}
.m2 {
  margin: 16px;
}
.m3 {
  margin: 32px;
}
.m4 {
  margin: 48px;
}
.m5 {
  margin: 64px;
}
.m6 {
  margin: 96px;
}
.mt0 {
  margin-top: 0px;
}
.mt1 {
  margin-top: 8px;
}
.mt2 {
  margin-top: 16px;
}
.mt3 {
  margin-top: 32px;
}
.mt4 {
  margin-top: 48px;
}
.mt5 {
  margin-top: 64px;
}
.mt6 {
  margin-top: 96px;
}
.mr0 {
  margin-right: 0px;
}
.mr1 {
  margin-right: 8px;
}
.mr2 {
  margin-right: 16px;
}
.mr3 {
  margin-right: 32px;
}
.mr4 {
  margin-right: 48px;
}
.mr5 {
  margin-right: 64px;
}
.mr6 {
  margin-right: 96px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb1 {
  margin-bottom: 8px;
}
.mb2 {
  margin-bottom: 16px;
}
.mb3 {
  margin-bottom: 32px;
}
.mb4 {
  margin-bottom: 48px;
}
.mb5 {
  margin-bottom: 64px;
}
.mb6 {
  margin-bottom: 96px;
}
.ml0 {
  margin-left: 0px;
}
.ml1 {
  margin-left: 8px;
}
.ml2 {
  margin-left: 16px;
}
.ml3 {
  margin-left: 32px;
}
.ml4 {
  margin-left: 48px;
}
.ml5 {
  margin-left: 64px;
}
.ml6 {
  margin-left: 96px;
}
.p0 {
  padding: 0px;
}
.p1 {
  padding: 8px;
}
.p2 {
  padding: 16px;
}
.p3 {
  padding: 32px;
}
.p4 {
  padding: 48px;
}
.p5 {
  padding: 64px;
}
.p6 {
  padding: 96px;
}
.pt0 {
  padding-top: 0px;
}
.pt1 {
  padding-top: 8px;
}
.pt2 {
  padding-top: 16px;
}
.pt3 {
  padding-top: 32px;
}
.pt4 {
  padding-top: 48px;
}
.pt5 {
  padding-top: 64px;
}
.pt6 {
  padding-top: 96px;
}
.pr0 {
  padding-right: 0px;
}
.pr1 {
  padding-right: 8px;
}
.pr2 {
  padding-right: 16px;
}
.pr3 {
  padding-right: 32px;
}
.pr4 {
  padding-right: 48px;
}
.pr5 {
  padding-right: 64px;
}
.pr6 {
  padding-right: 96px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb1 {
  padding-bottom: 8px;
}
.pb2 {
  padding-bottom: 16px;
}
.pb3 {
  padding-bottom: 32px;
}
.pb4 {
  padding-bottom: 48px;
}
.pb5 {
  padding-bottom: 64px;
}
.pb6 {
  padding-bottom: 96px;
}
.pl0 {
  padding-left: 0px;
}
.pl1 {
  padding-left: 8px;
}
.pl2 {
  padding-left: 16px;
}
.pl3 {
  padding-left: 32px;
}
.pl4 {
  padding-left: 48px;
}
.pl5 {
  padding-left: 64px;
}
.pl6 {
  padding-left: 96px;
}
@media screen and (min-width: 32em) {
  .md-m0 {
    margin: 0px;
  }
  .md-m1 {
    margin: 8px;
  }
  .md-m2 {
    margin: 16px;
  }
  .md-m3 {
    margin: 32px;
  }
  .md-m4 {
    margin: 48px;
  }
  .md-m5 {
    margin: 64px;
  }
  .md-m6 {
    margin: 96px;
  }
  .md-mt0 {
    margin-top: 0px;
  }
  .md-mt1 {
    margin-top: 8px;
  }
  .md-mt2 {
    margin-top: 16px;
  }
  .md-mt3 {
    margin-top: 32px;
  }
  .md-mt4 {
    margin-top: 48px;
  }
  .md-mt5 {
    margin-top: 64px;
  }
  .md-mt6 {
    margin-top: 96px;
  }
  .md-mr0 {
    margin-right: 0px;
  }
  .md-mr1 {
    margin-right: 8px;
  }
  .md-mr2 {
    margin-right: 16px;
  }
  .md-mr3 {
    margin-right: 32px;
  }
  .md-mr4 {
    margin-right: 48px;
  }
  .md-mr5 {
    margin-right: 64px;
  }
  .md-mr6 {
    margin-right: 96px;
  }
  .md-mb0 {
    margin-bottom: 0px;
  }
  .md-mb1 {
    margin-bottom: 8px;
  }
  .md-mb2 {
    margin-bottom: 16px;
  }
  .md-mb3 {
    margin-bottom: 32px;
  }
  .md-mb4 {
    margin-bottom: 48px;
  }
  .md-mb5 {
    margin-bottom: 64px;
  }
  .md-mb6 {
    margin-bottom: 96px;
  }
  .md-ml0 {
    margin-left: 0px;
  }
  .md-ml1 {
    margin-left: 8px;
  }
  .md-ml2 {
    margin-left: 16px;
  }
  .md-ml3 {
    margin-left: 32px;
  }
  .md-ml4 {
    margin-left: 48px;
  }
  .md-ml5 {
    margin-left: 64px;
  }
  .md-ml6 {
    margin-left: 96px;
  }
  .md-p0 {
    padding: 0px;
  }
  .md-p1 {
    padding: 8px;
  }
  .md-p2 {
    padding: 16px;
  }
  .md-p3 {
    padding: 32px;
  }
  .md-p4 {
    padding: 48px;
  }
  .md-p5 {
    padding: 64px;
  }
  .md-p6 {
    padding: 96px;
  }
  .md-pt0 {
    padding-top: 0px;
  }
  .md-pt1 {
    padding-top: 8px;
  }
  .md-pt2 {
    padding-top: 16px;
  }
  .md-pt3 {
    padding-top: 32px;
  }
  .md-pt4 {
    padding-top: 48px;
  }
  .md-pt5 {
    padding-top: 64px;
  }
  .md-pt6 {
    padding-top: 96px;
  }
  .md-pr0 {
    padding-right: 0px;
  }
  .md-pr1 {
    padding-right: 8px;
  }
  .md-pr2 {
    padding-right: 16px;
  }
  .md-pr3 {
    padding-right: 32px;
  }
  .md-pr4 {
    padding-right: 48px;
  }
  .md-pr5 {
    padding-right: 64px;
  }
  .md-pr6 {
    padding-right: 96px;
  }
  .md-pb0 {
    padding-bottom: 0px;
  }
  .md-pb1 {
    padding-bottom: 8px;
  }
  .md-pb2 {
    padding-bottom: 16px;
  }
  .md-pb3 {
    padding-bottom: 32px;
  }
  .md-pb4 {
    padding-bottom: 48px;
  }
  .md-pb5 {
    padding-bottom: 64px;
  }
  .md-pb6 {
    padding-bottom: 96px;
  }
  .md-pl0 {
    padding-left: 0px;
  }
  .md-pl1 {
    padding-left: 8px;
  }
  .md-pl2 {
    padding-left: 16px;
  }
  .md-pl3 {
    padding-left: 32px;
  }
  .md-pl4 {
    padding-left: 48px;
  }
  .md-pl5 {
    padding-left: 64px;
  }
  .md-pl6 {
    padding-left: 96px;
  }
}
@media screen and (min-width: 64em) {
  .lg-m0 {
    margin: 0px;
  }
  .lg-m1 {
    margin: 8px;
  }
  .lg-m2 {
    margin: 16px;
  }
  .lg-m3 {
    margin: 32px;
  }
  .lg-m4 {
    margin: 48px;
  }
  .lg-m5 {
    margin: 64px;
  }
  .lg-m6 {
    margin: 96px;
  }
  .lg-mt0 {
    margin-top: 0px;
  }
  .lg-mt1 {
    margin-top: 8px;
  }
  .lg-mt2 {
    margin-top: 16px;
  }
  .lg-mt3 {
    margin-top: 32px;
  }
  .lg-mt4 {
    margin-top: 48px;
  }
  .lg-mt5 {
    margin-top: 64px;
  }
  .lg-mt6 {
    margin-top: 96px;
  }
  .lg-mr0 {
    margin-right: 0px;
  }
  .lg-mr1 {
    margin-right: 8px;
  }
  .lg-mr2 {
    margin-right: 16px;
  }
  .lg-mr3 {
    margin-right: 32px;
  }
  .lg-mr4 {
    margin-right: 48px;
  }
  .lg-mr5 {
    margin-right: 64px;
  }
  .lg-mr6 {
    margin-right: 96px;
  }
  .lg-mb0 {
    margin-bottom: 0px;
  }
  .lg-mb1 {
    margin-bottom: 8px;
  }
  .lg-mb2 {
    margin-bottom: 16px;
  }
  .lg-mb3 {
    margin-bottom: 32px;
  }
  .lg-mb4 {
    margin-bottom: 48px;
  }
  .lg-mb5 {
    margin-bottom: 64px;
  }
  .lg-mb6 {
    margin-bottom: 96px;
  }
  .lg-ml0 {
    margin-left: 0px;
  }
  .lg-ml1 {
    margin-left: 8px;
  }
  .lg-ml2 {
    margin-left: 16px;
  }
  .lg-ml3 {
    margin-left: 32px;
  }
  .lg-ml4 {
    margin-left: 48px;
  }
  .lg-ml5 {
    margin-left: 64px;
  }
  .lg-ml6 {
    margin-left: 96px;
  }
  .lg-p0 {
    padding: 0px;
  }
  .lg-p1 {
    padding: 8px;
  }
  .lg-p2 {
    padding: 16px;
  }
  .lg-p3 {
    padding: 32px;
  }
  .lg-p4 {
    padding: 48px;
  }
  .lg-p5 {
    padding: 64px;
  }
  .lg-p6 {
    padding: 96px;
  }
  .lg-pt0 {
    padding-top: 0px;
  }
  .lg-pt1 {
    padding-top: 8px;
  }
  .lg-pt2 {
    padding-top: 16px;
  }
  .lg-pt3 {
    padding-top: 32px;
  }
  .lg-pt4 {
    padding-top: 48px;
  }
  .lg-pt5 {
    padding-top: 64px;
  }
  .lg-pt6 {
    padding-top: 96px;
  }
  .lg-pr0 {
    padding-right: 0px;
  }
  .lg-pr1 {
    padding-right: 8px;
  }
  .lg-pr2 {
    padding-right: 16px;
  }
  .lg-pr3 {
    padding-right: 32px;
  }
  .lg-pr4 {
    padding-right: 48px;
  }
  .lg-pr5 {
    padding-right: 64px;
  }
  .lg-pr6 {
    padding-right: 96px;
  }
  .lg-pb0 {
    padding-bottom: 0px;
  }
  .lg-pb1 {
    padding-bottom: 8px;
  }
  .lg-pb2 {
    padding-bottom: 16px;
  }
  .lg-pb3 {
    padding-bottom: 32px;
  }
  .lg-pb4 {
    padding-bottom: 48px;
  }
  .lg-pb5 {
    padding-bottom: 64px;
  }
  .lg-pb6 {
    padding-bottom: 96px;
  }
  .lg-pl0 {
    padding-left: 0px;
  }
  .lg-pl1 {
    padding-left: 8px;
  }
  .lg-pl2 {
    padding-left: 16px;
  }
  .lg-pl3 {
    padding-left: 32px;
  }
  .lg-pl4 {
    padding-left: 48px;
  }
  .lg-pl5 {
    padding-left: 64px;
  }
  .lg-pl6 {
    padding-left: 96px;
  }
}
